@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{  
    box-sizing: hidden;
    font-family: 'Roboto', sans-serif;
}

/*menu*/
header,
section{
    overflow-x: hidden;
}

header a{
    font-family: 'Roboto', sans-serif;
}

header li{
    font-family: 'Roboto', sans-serif;
    font-size: 0.95em;
    

}

header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding: 0.9em;
}

header .navbar-brand{
    padding-left: 8rem;
}

header .nav-link:hover{
    color: #007bff;
}

header .navbar-brand:hover{
    color: #007bff;
}

.navbar{
    background-color: #364151;
    opacity: 0.9;
    
}
nav img:hover{
    width: 55px;

    transition: all 0.5s ease;
}
/*end menu*/

/*Banner*/
.caja{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background: #333944;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .glass{
      opacity: 0.6;
  }
  .box{
    width: 100%;
    height: 500px;
    background: #CCC;
    overflow: hidden;
  }
  
  .box img{
    width: 100%;
    height: auto;
  }
  @supports(object-fit: cover){
      .box img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
  }

  .textbox{
    color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*Section-2*/
.section-2{
    padding: 30px;
    
}
.caja1{
    float: left;
}
.caja2{
    float: left;
}
.card-text{
    font-family: 'Roboto', sans-serif;
    text-align:justify;
}
.contenedor2{
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor2 figure{
    padding: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.contenedor2 figure img{
    padding: 0;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}


.contenedor2 figure:hover > img{
    transform: scale(1.3);
}
 
.caja2 .card{
    border: none;
}

/*END Section-2*/

/*footer*/
footer{
    background:rgba(54, 65, 81);
    overflow-x: hidden;
    padding: 14vmin 18vmin;

}
footer p > span{
    color: #007bff;
    
}
.column i{
    color: #007bff;
}

.column a+a{
    padding: 0 0.4em;
}
/*end footer*/
/*mobile-design*/
@media only screen and (max-width: 768px) {
    header .navbar-brand{
        padding-left: 1rem;
    }
    .section-2 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }

    .section-4 .carousel-item{
        padding-left: 0.6rem;
    }
    .section-4 .team{
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-4 .carousel-inner{
        width: 24rem;
    }
  }

  @media only screen and (max-width: 425px) {
    footer .row .col-md-2{
        margin-top: 8vmin;

    }
  }
  @media only screen and (max-width: 425px) {
    .numbers .rect h1{
        font-size: 20px;

    }
    
    .numbers .rect p{
        font-size: 0.65rem;
    }

    .icon{
        width: 40px;
    }
  }

  @media only screen and (max-width: 768px) {
    .numbers .rect h1{
        font-size: 30px;

    }
    
    .numbers .rect p{
        font-size: 0.75rem;
    }

    .icon{
        width: 50px;
    }
  }
/*end mobile-design*/
