<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="icon" href="../../../assets/fesapadelogo.ico">

<body>

    <header>
        <div class="container-fluid p-0">
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
                <a class="navbar-brand" routerLink="/index"><img src="../../../assets/fesapadelogo.png" width="45px"
                        class="d-inline-block align-top" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/index">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/cursos">Cursos</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" routerLink="/galeria">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item active" *ngIf="loginbtn">
                            <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="/login">Log In</a>
                        </li>
                        <li class="nav-item active" *ngIf="logoutbtn">
                            <a class="btn btn-outline-primary my-2 my-sm-0" (click)="redirect()">
                                Perfil
                            </a>
                        </li>
                        <li class="nav-item active" *ngIf="logoutbtn">
                            <a class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()">
                                Cerrar Sesión
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div *ngFor="let deta of detalle">
        <section>
            <div class="caja">
                <div class="glass">
                    <div class="box">
                        <img src="http://localhost/recursos/imagenes/portadas_cursos/{{deta.portada}}"
                            alt="Cargando imagen...">
                    </div>


                </div>
                <div class="textbox">
                    <h1>{{deta.nombre}}</h1>
                </div>

            </div>

        </section>
        <br>
        <section class="container section-2">

            <div class="caja1 col-xl-5 col-lg-5 col-sm-12">
                <div class="card w-40 shadow bg-white rounded">
                    <div class="card-body">
                        <h5 class="card-title">Descripción</h5>
                        <p class="card-text">{{deta.descripcion}}</p>

                    </div>
                </div>
            </div>

            <div class="caja2 col-lg-7 col-sm-12">
                <div class="card-group">
                    <div class="card mr-1">
                        <div class="contenedor2">
                            <figure>
                                <img class="card-img-top"
                                    src="http://localhost/recursos/imagenes/imagenes_cursos/{{deta.imagen1}}"
                                    alt="Card image cap">
                            </figure>
                        </div>
                    </div>
                    <div class="card">
                        <div class="contenedor2">
                            <figure>
                                <img class="card-img-top"
                                    src="http://localhost/recursos/imagenes/imagenes_cursos/{{deta.imagen2}}"
                                    alt="Card image cap">
                            </figure>
                        </div>
                    </div>

                </div>
                <div class="card">
                    <div class="contenedor2">
                        <figure>
                            <img class="card-img-top"
                                src="http://localhost/recursos/imagenes/imagenes_cursos/{{deta.imagen3}}"
                                alt="Card image cap">
                        </figure>
                    </div>
                </div>

            </div>


        </section>
    </div>
    <br><br>
    <footer>
        <div class="container-fluid p-0">
            <div class="row text-left">
                <div class="col-md-5 col-md-5">
                    <h1 class="text-light">Contáctanos</h1>
                    <p class="text-muted">Dirección​​​​​​:
                        Aeropuerto Internacional de Ilopango, San Salvador. El Salvador. C.A.</p>
                    <p class="text-muted">Correo electrónico:
                        svfesapade@gmail.com</p>
                    <p class="text-muted">Números de teléfono: <br>
                        (503) 7736-6598
                        <br>
                        (503) 7304-8551
                        <br>
                        (503) 7840-0667
                    </p>
                    <p class="pt-4 text-muted">Copyright ©2021 All rights reserved|Developed By <span>R.Coto and
                            A.Vladimir</span>
                    </p>
                </div>
                <div class="col-md-5">
                    <h4 class="text-light">Nuestros Cursos</h4>
                    <li class="text-muted">Paracaidismo básico.</li>
                    <li class="text-muted">Empaque.</li>
                    <li class="text-muted">Salto con línea.</li>
                    <li class="text-muted">Entrenamiento físico y teórico.</li>
                </div>
                <div class="col-md-2 col-sm-12">
                    <h4 class="text-light">Síguenos</h4>
                    <p class="text-muted">Seamos sociables</p>
                    <div class="column">
                        <a href="https://es-la.facebook.com/FESAPADE/"><i class="fa fa-facebook-f"></i></a>
                        <a href="https://www.instagram.com/fesapade/"><i class="fa fa-instagram"></i></a>
                        <a href="https://twitter.com/FESAPADE"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.youtube.com/channel/UCKwNhAzIUdsQsTo7Uf4R_DQ/featured"><i
                                class="fa fa-youtube-play"></i></a>
                    </div>
                </div>


            </div>
        </div>
    </footer>